<div class="container-fluid">
  <h1 class="page-title">Información Precaución Incendios</h1>

  <div class="block-container">
    <div class="block" id="incendio">
      <img src="assets/incendio.jpg" />
      <p>
        <a
          href="https://www.gipuzkoa.eus/es/web/suhiltzaileak/consejos/como-actuar-ante-incendio-interior-edificio"
        >
          Cómo actuar ante un incendio en el interior de un edificio
        </a>
      </p>
    </div>

    <div class="block" id="extintor">
      <img src="assets/extintor.jpg" />
      <p>
        <a
          href="https://blogs.imf-formacion.com/blog/prevencion-riesgos-laborales/sin-categoria/como-usar-extintor/"
        >
          Cómo usar un extintor
        </a>
      </p>
    </div>

    <div class="block" id="causas">
      <img src="assets/causas.jpg" />
      <p>
        <a
          href="https://rodych.es/incendios-razones-por-las-que-se-producen-en-negocios/"
        >
          Prevención de incendios
        </a>
      </p>
    </div>
  </div>
</div>
