<div class="container">
  <div class="title">
    <h1>Información Precaución Incendios</h1>
    <p>
      En esta página observaremos distintas fuentes de información sobre que
      hacer en caso de incendio:
    </p>
  </div>

  <div class="block-container">
    <div class="incendio">
      <img src="assets/incendio.jpg" />
      <p>
        <a
          href="https://www.gipuzkoa.eus/es/web/suhiltzaileak/consejos/como-actuar-ante-incendio-interior-edificio"
        >
          Cómo actuar ante un incendio en el interior de un edificio
        </a>
      </p>
    </div>

    <div class="extintor">
      <img src="assets/extintor.jpg" class="images" />
      <p>
        <a
          href="https://blogs.imf-formacion.com/blog/prevencion-riesgos-laborales/sin-categoria/como-usar-extintor/"
        >
          Cómo usar un extintor
        </a>
      </p>
    </div>

    <div class="causas">
      <img src="assets/causas.jpg" class="images" />
      <p>
        <a
          href="https://rodych.es/incendios-razones-por-las-que-se-producen-en-negocios/"
        >
          Prevención de incendios
        </a>
      </p>
    </div>
  </div>
</div>
