.container-fluid {
  background-color: #f4f4f4;
  font-family: Arial, Helvetica, sans-serif;
  min-height: 100vh;
  padding-top: 30px;
}

.page-title {
  margin-bottom: 30px;
  text-align: center;
  font-weight: bold;
}


.pagination {
  display: flex;
  justify-content: center;
}

mat-table {
  margin: 50px;

  .mat-header-row {
    background-color: white;

    .mat-header-cell {
      text-transform: uppercase;
      font-weight: bold;
      color: #838383;
    }
  }

  .mat-column-id {
    flex: 0 0 20%;
    justify-content: center;
  }

  .mat-column-action {
    flex: 0 0 10%;
    justify-content: center;
  }
}

.buttons {
  text-align: right;
}
ul {
  list-style: none;
}
