
<div class="container-fluid">
<h1 class="page-title">Habitaciones</h1>
  <div fxLayout="row wrap" fxLayoutGap="14px grid">
    <div fxFlex="20%" fxFlex.xs="100%" fxFlex.sm="33%" *ngFor="let data of dataSource | paginate: { itemsPerPage: pageSize, currentPage: pages }">
      <mat-card class="mat-elevation-z4">
        <mat-card-header>
          <mat-card-title>{{data.roomName}}</mat-card-title>
        </mat-card-header>
        <img mat-card-image src="{{data.image}}">
        <mat-card-content>
          <p>
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button (click)="openDialog(data)">MORE</button> 
          <button mat-button (click)="onDowloadFile(data.reference,data.roomName)">DOWNLOAD </button>
        </mat-card-actions>
      </mat-card>
    </div>
   </div> 
   <hr> 
  <div class="pagination">
    <pagination-controls (pageChange)="pages = $event"></pagination-controls>
  </div>

</div>


