

 <div class="container">

  
  <h1 class="page-title">Puntuaciones</h1>
  <div class="content">

    <div fxLayout="row wrap" fxLayoutGap="12px grid">
      <div fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="33%" *ngFor="let num of [1,2,3,4,6,7,8,9,10,11,12,13,14,15,16,17]">
        <mat-card class="mat-elevation-z4">
          <mat-card-header>
            <mat-card-title>Mountains {{num}}</mat-card-title>
          </mat-card-header>
          <img mat-card-image src="https://raw.githubusercontent.com/thisiszoaib/card-view-demo/master/src/assets/images/mountains.jpg">
          <mat-card-content>
            <p>
              The Himalayas is a mountain range in Asia.
            </p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button>LIKE</button>
            <button mat-button>SHARE</button>
          </mat-card-actions>
        </mat-card>
      </div>


    </div> 

  </div>
</div>
<mat-paginator [length]="100"
[pageSize]="10"
[pageSizeOptions]="[5, 10, 25, 100]"
aria-label="Select page">
</mat-paginator>

<!-- <div class="container">


  <h1 class="page-title">Puntuaciones</h1>

  <mat-table [dataSource]="dataSource">
    <ng-container matColumnDef="username">
      <mat-header-cell *matHeaderCellDef> Nombre </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{ element.playerName }} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="scans">
      <mat-header-cell *matHeaderCellDef> Nº Escaneos </mat-header-cell>
      <mat-cell *matCellDef="let element">
        {{ element.scannedTimes }}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="time">
      <mat-header-cell *matHeaderCellDef> Tiempo </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{ element.time }} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="meters">
      <mat-header-cell *matHeaderCellDef> Metros </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{ element.meters }} </mat-cell>
    </ng-container>

    <mat-header-row
      *matHeaderRowDef="displayedColumns; sticky: true"
    ></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
  </mat-table>
  


</div> -->

