.container {
  background-color: #f4f4f4;
  padding: 50px 20px;
  font-family: Arial, Helvetica, sans-serif;
  min-height: 100vh;
}

.homepage-title {
  height: 200px;
  color: black;
  font-size: 50px;
  text-align: center;
  font-weight: bold;
  line-height: 150px;
  img {
    height: 100%;
  }
}

.cards {
  height: auto;
  padding: 20px;
  height: 180px;
}

mat-card {
  width: 25%;
  height: 100%;
  margin: 2.6%;
  position: relative;
  border-radius: 20px;
  mat-card-title {
    // background-color: #00bfff;
    margin: 20px;
    text-align: center;
  }
  mat-card-subtitle {
    margin: 30px;
  }
  mat-card-actions {
    right: 30px;
    bottom: 30px;
    position: absolute;
  }
  a {
    text-decoration: none;
    button {
      background-color: #00bfff;
      color: white;
      text-align: center;
    }
  }
}

.information {
  float: left;
}
.scoreboard {
  float: left;
}
.tests {
  float: left;
}

.clearfix {
  clear: both;
}
