<div class="container-fluid">
<mat-drawer-container>
  <mat-drawer mode="side" opened>
    <mat-form-field class="select-level" appearance="fill">
      <div class="select-title">Elige el nivel</div>
      <mat-label></mat-label>
      <mat-select
        class="select-list"
        [disabled]="disableSelect.value"
        [(value)]="selected"
      >
        <mat-option value="Nivel 1">Nivel 1</mat-option>
        <mat-option value="Nivel 2" disabled
          >Nivel 2 (Not Available)</mat-option
        >
        <mat-option value="Nivel 3" disabled
          >Nivel 3 (Not Available)</mat-option
        >
      </mat-select>
    </mat-form-field>

    <br />
    <mat-slide-toggle class="show-answer" [(ngModel)]="showAnswer"
      >Mostrar respuestas</mat-slide-toggle
    >
  </mat-drawer>
  <mat-drawer-content>
    <h1 class="tests-title">Tests del {{ selected }}</h1>
<!-- 
    <ol class="test-container">
      <li class="tests" *ngFor="let item of tests">
        <div class="question">{{ item.question }}</div>
        <ul>
          <li *ngFor="let option of item.options; let i = index">
            <div [ngClass]="{ red: showAnswer && i+1== item.correct }">
              {{ option }}
            </div>
          </li>
        </ul>
        <br />
        <div class="explanation" *ngIf="showAnswer">
          <div class="explanation-label">Explicación:</div>
          {{ item.explanation }}
        </div>
        <hr />
      </li>
    </ol> -->


<div class="container mb-5">
  <div class="row">
     <div class="col-12">
        <p class="tests-title">{{number+1}}. {{tests[number].question}}</p>
        <div>
           <label for="one" [ngClass]="{ right: isDisabled[i]==1, wrong:isDisabled[i]==2 ||(questionSolved ||showAnswer)&&i+1!=tests[number].correct}" (click)="select(i)" class="box first" *ngFor="let quizz of tests[number].options; let i = index">
              <div class="course"> <span class="circle"></span> <span class="subject">{{quizz}} </span> </div>
           </label>
           
        </div>
     </div>
     <div class="explanation" *ngIf="questionSolved ||showAnswer">
      <div class="explanation-label">Explicación:</div>
      {{ tests[number].explanation }}
    </div>
     <div class="col-12" >
        <div *ngIf="questionSolved||showAnswer" class="d-flex justify-content-center"> <button class="btn btn-primary px-4 py-2 fw-bold" (click)="next()" > continue</button> 
      </div>
    </div>
</div>



</div>

