<mat-toolbar>
  <mat-toolbar-row>
    <div class="header_container">
      <div class="header_title">
        <a [routerLink]="['/home']" routerLinkActive="active">
          <mat-icon>domain</mat-icon>
          Danger
        </a>
      </div>

      <mat-divider [vertical]="true"></mat-divider>

      <div class="header_menu">
        <div class="header_button">
          <a [routerLink]="['/information']" routerLinkActive="active"
            >Información</a
          >
        </div>

        <mat-divider [vertical]="true"></mat-divider>

        <div class="header_button">
          <a [routerLink]="['/score']" routerLinkActive="active"
            >Catálogo</a
          >
        </div>

        <mat-divider [vertical]="true"></mat-divider>

        <div class="header_button">
          <a [routerLink]="['/tests']" routerLinkActive="active">Tests</a>
        </div>
      </div>
      <div *ngIf="userLogged|async as user">
        <mat-icon>account_circle</mat-icon>{{user.email}}
      </div>  

      <div class="header_login" (click)="openDialog()">
        <mat-icon>account_circle</mat-icon> Sign in
      </div>
      <div class="header_login" (click)="openDialog()">
        <mat-icon>account_circle</mat-icon> Log in
      </div>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
